/* Use a custom font from Google Fonts */
body {
    font-family: 'Roboto', sans-serif; /* Example font family from Google Fonts */
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background-color: #f4f3f3;
    color: #333; /* Text color for readability */
}

/* Global container styles */
.container {
    width: 80%; /* Adjust as needed */
    max-width: 1200px; /* Maximum container width */
    margin: 0 auto;
    padding: 20px;
}

/* Improved header styles */
header {
    background-color: #03A9F4;
    border-bottom: #448AFF 3px solid;
    padding: 20px 0;
    text-align: center;
}

#brandname {
    font-size: 30px;
    color: #fff;
    margin: 10px;
}

header h2 {
    color: #fff;
}

/* Button styles with hover effect */
.btn-info {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #0b7dda;
}

/* Improved result box styles */
.resultss {
    border-radius: 10px;
    background-color: #345fe4;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
